<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.full.full.mapper.WebMapper">

  <insert id="joinUser" parameterType="com.full.full.model.UserDTO">
    INSERT INTO users (id, password, email, phone, address, name)
    VALUES(#{id},#{password},#{email},#{phone},#{address},#{name})
  </insert>

  <select id="checkUserId" resultType="com.full.full.model.UserDTO">
    SELECT * FROM users WHERE id = #{id}
  </select>

  <select id="loginUser" parameterType="com.full.full.model.UserDTO" resultType="com.full.full.model.UserDTO">
    SELECT * FROM users WHERE id = #{id} AND password = #{password}
  </select>

  
  <insert id="Uploadproduct" parameterType="com.full.full.model.ProductDTO">
    INSERT INTO products (name, price, description,image, category,quantity)
    VALUES(#{name},#{price},#{description},#{image},#{category},#{quantity}) 
  </insert>

  <select id="LoadMember" resultType="com.full.full.model.UserDTO">
    SELECT user_num, id, name, phone, email, address fROM users
  </select>



  <select id="LoadProduct" resultType="com.full.full.model.ProductDTO">
    SELECT product_num, name, price, description, image, category fROM  products
  </select>

  <select id="getProduct" resultType="com.full.full.model.ProductDTO">
    SELECT * FROM products WHERE product_num = #{product_num};
  </select>




</mapper>