.detailArea {
    width: 1080px;
    height: 1000px;
    margin: 0 auto;
}
.thumbnail {
    float: left;
    width: 500px;
    text-align: center;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.infoArea{
    position: relative;
    float: left;
    width: 500px;
    margin-left: 80px;
}
.prdDetail_table li {
    margin-bottom: 10px;
    display: flex;
    font-family: "웰컴체 Bold.ttf";
}
.prd_name{
    font-size: 40px;
    color:rgb(58, 58, 58);
    font-weight: lighter;
    margin-top: 3rem;
    font-family: "웰컴체 Bold.ttf";
}
.prd_price{
    font-size: 35px;
    color: #3B6EAE;
    margin-left: 19rem;
    margin-top: 1.5rem;
}
.prd_des{
    font-size: 25px;
    color: #555555;
    margin-top: 1rem;
}
.buy{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 14rem;   
}
.btn2{
    font-size: 27px;
    width: 10rem;
    height: 4rem;
    text-align: center;
    box-shadow: 3px 5px 10px -6px rgba(1,1,1,1);
}
.btn2 .cart{
    font-size: 1.5rem;
    margin-right: 2rem;
    /* box-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000; */
    
}
